@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  background-color: grey;
}

::selection {
  background-color: grey;
}

#post {
  font-size: 2rem;
  font-family: verdana;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
  width: 23%;
  height: 30%;
  color: white;
  background-color: black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: inline-block;
}

footer {
  position: relative;
  margin-top: 10px;
} 

footer a{
  background-color: grey; 
}

@media (max-width: 800px) {
  #post {
    width: 85%;
    display: default;
  }
}

#postview {
  transition-duration: 1s;
  text-decoration: none;
  font-family: calibri;
  border: 2px solid blue;
  background-color: grey;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
}

#postview:hover,
viewpost:active {
  transition-duration: 1s;
  text-decoration: none;
  font-family: calibri;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid blue;
  background-color: white;
  padding: 5px;
  font-size: 1.2rem;
  color: blue;
}

.dmode {
  display: none;
}

.lmode {
  position: fixed;
  right: 10px;
  transition-duration: 1s;
  text-decoration: none;
  font-family: calibri;
  border: 2px solid blue;
  background-color: black;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
}

.lmode:hover,
.lmode:active {
  transition-duration: 1s;
  text-decoration: none;
  font-family: calibri;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid blue;
  background-color: white;
  padding: 5px;
  font-size: 1.2rem;
  color: blue;
}

center.image{
  background-color: black;
}

.post {
  width: 90%;
  margin: auto;
  display: block;
  color: white;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

a {
  background-color: black;
  color: white;
  text-decoration:none;
  border-bottom: 1px dotted yellow;
  font-style: monospace;
}

a:hover,
a:active {
  background-color: grey;
  color: white;
  text-decoration: none;
  font-style: monospace;
}

.post-title {
  background-color: black;
  font-weight: 700;
  font-size: 2rem;
}

.post-details {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

article {
  background-color: black;
}
