.author{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.name{
    font-family: Ubuntu;
}

.date{
    font-family: sans-serif;
}

.author:hover{
    color: grey;
    background-color: yellow;
}

.post-details{
    color: lightgray;
    font-weight: 400;
    font-family: Verdana;
}